<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form"  action="/admin/crear-producto" method="POST">
            <div class="form-control">
                <label for="nombreproducto">Nombre</label>
                <input type="text" name="nombreproducto" id="nombreproducto">
            </div>
            
            <div class="form-control">
                <label for="urlImagen">URL Imagen</label>
                <input type="text" name="urlImagen" id="urlImagen">
            </div>
            <div class="form-control">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" step="0.01">
            </div>
            <div class="form-control">
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion" rows="5"></textarea>
            </div>

            <button type="submit">Crear Producto</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>