<h5>Cuenta del Admin</h5>
<ul class="list-unstyled list-group my-5 w-25">
    <li><a class="list-group-item list-group-item-action" href="/admin/productos">Productos</a></li>
    <li><a class="list-group-item list-group-item-action" href="/admin/usuarios">Usuarios</a></li>
    <li><a class="list-group-item list-group-item-action" href="/admin/pedidos">Gestión de pedidos</a></li>
</ul>