    
    <footer class="p-5 bg-footer">
        <p>Av. Brasil 210, Breña</p>
        <p>Teléfono: 920 000 965</p>
        <p>Correo: ventas@petshop.pe</p>
        <p>Horario de atención: Lunes a Sábado de 9:00 am a 7:30 pm</p>
    </footer>
</body>
</html>