<h5>Categorias</h5>
<ul class="list-unstyled list-group">
    <li><a class="list-group-item list-group-item-action" href="/productos/perro">Perro</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/gato">Gato</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/conejo">Conejo</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/hamster">Hamster</a></li>
</ul>

<h5>Filtrar por color</h5>
<ul class="list-unstyled list-group">
    <li><a class="list-group-item list-group-item-action" href="/productos/rojo">Rojo</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/azul">Azul</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/celeste">Celeste</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/blanco">Blanco</a></li>
    <li><a class="list-group-item list-group-item-action" href="/productos/marron">Marron</a></li>
</ul>