<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Seleccione modo de orden
    </a>
  
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/productos/ordenar/alfabeticamente">Ordenar alfabeticamente</a></li>
        <li><a class="dropdown-item" href="/productos/ordenar/menor-a-mayor">Ordenar por precio de menor a mayor</a></li>
        <li><a class="dropdown-item" href="/productos/ordenar/mayor-a-menor">Ordenar por precio de mayor a menor</a></li>
    </ul>
</div>



